 <!--========================================================
                            FOOTER
  ==========================================================-->
  <footer class="page-footer text-center text-sm-left">
    <div class="container">
      <div class="row row-xs-justify flow-offset-1">
        <div class="col-xs-12 col-sm-4 col-sm-push-2 text-center">
          <div class="rd-navbar-brand">
            <a href="{{ site.url }}/index.html" class="brand-name">The Sater Group</a>
          </div>
        </div>

        <div class="col-xs-12 col-sm-4 col-sm-push-1">
          <p class="copyright">
            <a href="{{ site.url }}/index.html" class="nohover text-default">The Sater Group</a><span class="text-default"> &copy; <span
              id="copyright-year"></span></span><br />

            Website Powered by <a href="https://danaleegibson.com" target="_blank" rel="noopener">Dana Lee Gibson</a>
          </p>
        </div>
        <div class="col-xs-12 col-sm-4 text-sm-right col-sm-push-3">
          <ul class="inline-list">
            <li><a href="https://twitter.com/SaterDesign" class="icon icon-xs icon-default fa-twitter" alt="Twitter Icon Link"></a></li>
            <li><a href="https://www.facebook.com/luxuryhomeplans" class="icon icon-xs icon-default fa-facebook" alt="Facebook Icon Link"></a></li>
            <li><a href="https://www.linkedin.com/in/dansateriiaibd" class="icon icon-xs icon-default fa-linkedin" alt="Linked-In Icon Link"></a></li>
            <li><a href="https://www.flickr.com/photos/custom-luxury-homes-sater-group/" class="icon icon-xs icon-default fa-flickr" alt="Flickr Icon Link"></a></li>
          </ul>
        </div>
      </div>
    </div>

<!-- Core Scripts -->
<script src="/js/core.min.js"></script>
<!-- Additional Functionality Scripts -->
<script src="/js/script.js"></script>

<script src="/js/lightbox.js"></script>


</footer>
