<!--========================================================
                          HEADER
=========================================================-->
<header class="page-header page-header-full-height bg-grayscale-darken">
  <div class="hp-header"
  {% include nav-bar.html %}



<div class="container-hp">
    <div class="row" >
            <div class="col-xs-12 col-lg-preffix-1 col-lg-10" >
              <h2>Internationally  <br />Acclaimed <span class="text-sbold text-primary">Luxury Home</span><br />
                Designer</h2>

            <div class="insert-1sg">
                <p class="big">Luxury Custom Home Designers &amp; Community Planners with over 35 years of experience designing luxury custom homes.</p>

            </div>
            </div>
    </div>
  </div>



  {% include social-links.html %}
</div>
</header>
