<!-- RD Navbar -->
    <div class="rd-navbar-wrap">
      <nav class="rd-navbar" data-rd-navbar-lg="rd-navbar-static">
        <div class="rd-navbar-inner">
          <!-- RD Navbar Panel -->
          <div class="rd-navbar-panel">

            <!-- RD Navbar Toggle -->
            <button class="rd-navbar-toggle" data-rd-navbar-toggle=".rd-navbar" aria-label="NAV Bar toggle"><span></span></button>
            <!-- END RD Navbar Toggle -->

            <!-- RD Navbar Brand -->
            <div class="rd-navbar-brand">
              <a href="{{ site.url }}/index.html">
                <span class="brand-name">Sater Group</span>
              </a>
            </div>
            <!-- END RD Navbar Brand -->

            <!-- RD Navbar Search -->
            <div class="rd-navbar-search">
              <form class="rd-navbar-search-form" action="{{ site.url }}/search.html" method="get">
                <label class="rd-navbar-search-form-input">
                  <input type="text" id="search_box" name="query">

                </label>
                <button class="rd-navbar-search-form-submit" type="submit" value="search"></button>
              </form>

              <button class="rd-navbar-search-toggle" data-rd-navbar-toggle=".rd-navbar-search" aria-label="Search toggle"></button>
            </div>
            <!-- END RD Navbar Search -->

          </div>
          <!-- END RD Navbar Panel -->

          <div class="rd-navbar-nav-wrap">

            <!-- RD Navbar Nav -->
            <ul class="rd-navbar-nav">
              <li>
                <a href="{{ site.url }}/#about">About us</a>
              </li>
              <li>
                <a href="{{ site.url }}/portfolio/">Portfolio</a>
              </li>
              <li>
                <a href="{{ site.url }}/custom_homes/">About Dan</a>
              </li>
              <li>
                <a href="{{ site.url }}/blog/">Blog</a>
              </li>
              <li>
                <a href="{{ site.url }}/#contact">Contact us</a>
              </li>
              <li>
                <a href="tel:+12394952106">239-495-2106</a>
              </li>
            </ul>
            <!-- END RD Navbar Nav -->
          </div>
        </div>
      </nav>
    </div>
    <!-- END RD Navbar -->
