<ul class="inline-list">
  <li><a href="https://twitter.com/SaterDesign" class="icon icon-xs icon-default fa-twitter" alt="Twitter Icon Link"></a></li>
  <li><a href="https://www.facebook.com/luxuryhomeplans" class="icon icon-xs icon-default fa-facebook" alt="Facebook Icon Link"></a></li>
  <li><a href="https://www.linkedin.com/in/dansateriiaibd" class="icon icon-xs icon-default fa-linkedin" alt="Linked-In Icon Link" ></a></li>
  <li><a href="https://www.flickr.com/photos/custom-luxury-homes-sater-group/" class="icon icon-xs icon-default fa-flickr" alt="Flickr Icon Link"></a></li>
</ul>
